#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  color: #373737;
  background-color: #DcD0D0;
  text-align: justify;
  margin: 1rem;
  border: 1px solid #373737;
  padding: 1rem;
  border-radius: 1rem;
}
.card h1{
  color: #C0B283;
  text-align: center;
  ont-family: "Comic Sans MS", cursive, sans-serif;
}
.heading{
  color: #373737;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}
body{
  background-color: #F4F4F4;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}